<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BluePay_Payment\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="bluepay_payment" xsi:type="const">BluePay\Payment\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bluepay_payment_config_provider" xsi:type="object">BluePay\Payment\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
