<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="bluepay_payment_order_change_status" instance="BluePay\Payment\Model\Observer\UpdateOrderStatus" shared="false" />
    </event>
</config>
