<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form">
        <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <!-- ko if: (isShowLegend())-->
    <legend class="legend">
        <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
    </legend><br />
    <!-- /ko -->
    <div class="field type" data-bind="attr: {id: getCode() + '_payment_type_div'}">
        <div class="control">
                <label data-bind="attr: {for: getCode() + '_payment_type'}" class="label">
                    <span><!-- ko i18n: 'Payment Type'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <select name="payment[payment_type]"
                                        class="select select-month"
                                        data-bind="attr: { id: getCode() + '_payment_type'}, 
                                        event: {change: showHidePaymentFields}, 
                                        value: paymentType">
                                        <option value="CC">Credit Card</option>
                                        <option value="ACH">eCheck</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="field type" data-bind="attr: {id: getCode() + '_cc_types_div'}">
        <div class="control">
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.value,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                 } ">
                    <!--ko if: $parent.getIcons(item.value) -->
                    <img data-bind="attr: {
                        'src': $parent.getIcons(item.value).url,
                        'alt': item.type,
                        'width': $parent.getIcons(item.value).width,
                        'height': $parent.getIcons(item.value).height
                        }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="payment[cc_type]"
                   class="input-text"
                   value=""
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType
                   ">
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_stored_acct_div'}">
                <label data-bind="attr: {for: getCode() + '_stored_acct'}" class="label">
                    <span><!-- ko i18n: 'Stored Payment Account'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <select name="payment[stored_acct]"
                                        style="width: 260px"
                                        class="select select-month"
                                        data-bind="attr: { id: getCode() + '_stored_acct'},
                                        options: getStoredAccountsValue(),
                                        optionsValue: 'value',
                                        optionsText: 'label',
                                        optionsCaption: $t('--Use a new stored payment--'),
                                        value: storedPaymentAccounts
                                        ">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="field number required" data-bind="attr: {id: getCode() + '_cc_number_div'}">
        <label data-bind="attr: {for: getCode() + '_cc_number', id: getCode() + '_cc_number_label'}" class="label">
            <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="text" name="payment[cc_number]" class="input-text" value=""
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup' "/>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
            <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select  name="payment[cc_exp_month]"
                                 class="select select-month"
                                 data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
                        </select>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <select name="payment[cc_exp_year]"
                                class="select select-year"
                                data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: (hasVerification())-->
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <input type="number"
                   autocomplete="off"
                   class="input-text cvv"
                   name="payment[cc_cid]"
                   value=""
                   data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber" />
            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()">
                </div>
            </div>
        </div>
    </div>
    <div class="field date required" data-bind="attr: {id: getCode() + '_echeck_acct_type_div'}">
                <label data-bind="attr: {for: getCode() + '_echeck_acct_type'}" class="label">
                    <span><!-- ko i18n: 'Account Type'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <select name="payment[echeck_acct_type]"
                                        class="select select-month"
                                        data-bind="attr: { id: getCode() + '_echeck_acct_type'}">
                                        <option value="C">Checking</option>
                                        <option value="S">Savings</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="field number required" data-bind="attr: {id: getCode() + '_echeck_acct_number_div'}">
                    <label data-bind="attr: {for: getCode() + '_echeck_acct_number'}" class="label">
                        <span><!-- ko i18n: 'Account Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[echeck_acct_number]" class="input-text" value=""
                            data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_echeck_acct_number',
                                    title: $t('Account Number'),
                                    'data-container': getCode() + '-echeck-acct-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: echeckAccountNumber,
                              valueUpdate: 'keyup' "/>
                    </div>
    </div>
    <div class="field number required" data-bind="attr: {id: getCode() + '_echeck_routing_number_div'}">
                    <label data-bind="attr: {for: getCode() + '_echeck_routing_number'}" class="label">
                        <span><!-- ko i18n: 'Routing Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[echeck_routing_number]" class="input-text" value=""
                            data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_echeck_routing_number',
                                    title: $t('Routing Number'),
                                    'data-container': getCode() + '-echeck-routing-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: echeckRoutingNumber,
                              valueUpdate: 'keyup' "/>
                    </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_stored_acct_cb_div'}">
                <label data-bind="attr: {for: getCode() + '_stored_acct_cb'}" class="label">
                    <span><!-- ko i18n: 'Store This Payment Account For Future Use?'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <select name="payment[stored_acct_cb]"
                                        class="select select-month"
                                        data-bind="attr: { id: getCode() + '_stored_acct_cb'},
                                        value: saveInfo">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <!-- /ko -->
</fieldset>
</form>
<div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div data-bind='template: { afterRender: initPaymentFields }'> </div>
